@model IEnumerable<HSP.Models.Result>

@{
    ViewBag.Title = "Index";
}

<h2>Your Reports</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disease)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.DoctorSignature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExaminationDate)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disease)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DoctorSignature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationDate)
        </td>
        
        <td>
            @* @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @Html.ActionLink("View Report", "ViewReport", new { id=item.ID },new { @class = "btn btn-default " }) |
            @Html.ActionLink("Print", "Print", new { id=item.ID },new { @class = "btn btn-info " })
        </td>
    </tr>
}

</table>
